[data-md-color-scheme="mtm"] {
  --md-primary-fg-color:        #9bbfd4;
  --md-primary-fg-color--light: #B6D4E5;
  --md-primary-fg-color--dark:  #9EBDFF;
}

/* [data-md-color-scheme="hzz"] {
  --md-primary-fg-color:        #3F588C;
  --md-primary-fg-color--light: #6181C2;
  --md-primary-fg-color--dark:  #0F1E3D;
} */

/* .md-footer {
  display: none !important;
} */

/* 自定义页脚样式
  减小页脚区域的垂直内边距 (padding)，从而降低其整体高度
*/

/* .md-footer{

  background-color: #133558; 
} */

/* 主要通过修改这个元素的内边距来调整高度 */


/* 暴力隐藏：针对所有可能的层级 */
.md-header__source,
.md-nav__source,
div.md-nav__source { 
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
}